{% load static %}
<html>
  <head>
        <title>Polls</title>
        <link rel="stylesheet" href="{% static 'css/polls.css' %}">
  </head>

  <body>





        <div class="container">
          <h2>{{ question.question_text }}</h2>




        <form action="{% url 'polls:vote' question.id %}" method="post">
          <ul>
              {% csrf_token %}
              {% for choice in question.choicesrelated.all %}
              <li>
                  <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                  <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                  <div class="check"><div class="inside"></div></div>
              {% endfor %}
          </ul>
              {% if user.is_staff %}
                  <input type="checkbox" id ="adminvote" name="adminvote" value="1" > <font color="black"> Make it acurate decision and change scores </font> </input>
              {% endif %}
              {% if error_message %}<h2><strong>{{ error_message }}</strong></h2>{% endif %}
              <input type="submit" value="Vote" >


        </form>
        </div>
  </body>

</html>
