{% load static %}
<html>
			<head>
        	<title>Polls</title>
        	<link rel="stylesheet" href="{% static 'css/polls.css' %}">
    	</head>
			<body>
				<a href="{% url 'logout' %}">logout</a>
			<div class="container">

					{% if latest_question_list %}
						<ul>
								{% for question in latest_question_list %}
									<li><a href="{% url 'polls:detail' question.id %}" >{{ question.question_text }}
									</a<>
								{% endfor %}
						</ul>
				{% else %}
					<h2>No polls are available.</h2>
				{% endif %}
			</div>
			</body>
</html>
